fastapi>=0.115.12
uvicorn[standard]>=0.34.2
slack-bolt>=1.23.0
propelauth-fastapi>=4.2.7
loguru>=0.7.3
pydantic>=2.11.5
python-dotenv>=1.1.0
httpx>=0.28.1
pydantic-settings>=2.9.1
slack-sdk>=3.35.0
python-multipart>=0.0.20
aiohttp>=3.12.1
supabase>=2.3.5
postgrest>=0.13.0
openai>=1.54.3 